<footer
  class="bg-theme-light dark:bg-darkmode-theme-light static bottom-0 w-full">
  <div class="border-border dark:border-darkmode-border border-t py-7">
    <div class="text-light dark:text-darkmode-light container text-center">
      <div class="flex flex-col text-center sm:flex-row sm:justify-around">
        <div>
          {{ range site.Menus.footer }}
            <li class="inline-block">
              <a
                {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.Home.RelPermalink }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}"
                >{{ .Name }}</a
              >
            </li>
          {{ end }}
        </div>
        <div>
          {{ site.Params.copyright | markdownify }}
        </div>
      </div>
    </div>
  </div>
</footer>
