<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EMQ8B73W9J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EMQ8B73W9J');
</script>

  {{if hasmath}} {{insert head_katex.html }}   {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}

  {{insert style.html}}

  <title>Welcome to Sosuke's blog'</title>
</head>
<body>
{{insert nav.html}}


<!-- Content appended here -->
