{{ define "main" }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center ">
        <div class="md:col-10 lg:col-8 text-center">
          <div>
            <img
              src="{{ .Params.image }}"
              alt="{{ .Params.name }}"
              class="rounded-full w-56 h-56" />
          </div>
          <div>
            <h2 class="h3 mb-6">{{ .Params.name }}</h2>
            <div class="content">{{ .Content }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
